// colors
$auth__tab-background: #fcfcfc;
$auth__tab-background--active: #fff;
$auth__login-btn--background: #ff6633;
$header__menu--background: #d74b16;

$main__description-background: #f9f9f9;
$main__input-background: #fdfdfd;
$main__input-btn-background: #f8f8f8;

//borders
$auth__tab-border: #bababa;
$auth__tab-border--active: #363d54;
$auth__input-border: #e5e7ea;
$auth__login-btn-border: #e55c2e;

$main__form-border: #dfe2e8;
$main__input-border: #dbdee1;
$main__input-btn-border: #cacaca;

$footer__logo-border: #dcdcdc;

// text-color
$app__text--default: #494949;
$auth__tab-font--disabled: #999999;
$auth__tab-font--bold: #222222;

$auth__login-btn-font: #ffffff;

$footer__btn--point: #ff6633;
$footer__btn--hover: #06c;

$footer__logo-font: #8e8e8e;

$main__description-font: #777;
$main__input-description-font: #010101;

// font-size
$app__font--default: 14px;
