@use "../abstracts/variables";

body {
  margin: 0;
  padding: 0;
  #app {
    display: flex;
    flex-direction: column;
    font-size: variables.$app__font--default;
    .body__login-wrapper {
      margin: 0 40px;
    }
    .body__mainpage-wrapper {
      margin: 0 !important;
    }
  }
}
