@use "../abstracts/_variables.scss";
@use "../abstracts/font";

.auth__tab-button {
  border: 1px solid;
  border-color: variables.$auth__tab-border;
  border-bottom: 1px solid variables.$auth__tab-border--active;
  background-color: variables.$auth__tab-background;
  color: variables.$auth__tab-font--disabled;
  font-weight: 700;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__tab--active {
  background-color: variables.$auth__tab-background--active;
  border-color: variables.$auth__tab-border--active;
  border-bottom: none;
  color: variables.$auth__tab-font--bold;
}

.auth__login-btn {
  background-color: variables.$auth__login-btn--background;
  border: 1px solid variables.$auth__login-btn-border;
  color: variables.$auth__login-btn-font;
  height: 48px;
  font-size: 16px;
  margin-top: 40px;
}

.main__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .main__btn--next {
    @extend %header__menu-font;
    @extend .main__btn-wrapper;
    background-color: variables.$footer__btn--point;
    width: 90px;
    height: 48px;
    border: 1px solid variables.$footer__btn--point;
  }
  .main__btn--cancel {
    @extend .main__btn--next;
    color: #434a54 !important;
    background-color: white;
    border: 1px solid #adadad !important;
    margin-right: 10px;
  }
  .main__btn--complete {
    @extend .main__btn--next;
  }
}

.main__content-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .main__content-btn--complete {
    margin: 0 5px;
    width: 240px;
    padding: 12px 0 15px;
    text-align: center;
    font: 700 16px Malgun Gothic, "\B9D1\C740 \ACE0\B515", dotum, "\B3CB\C6C0",
      sans-serif;
    color: #fff;
    letter-spacing: -0.5px;
    background-color: #f63;
    border-radius: 4px;
    margin-top: 52px;
  }

  .main__content-btn--cancle {
    font-size: 15px;
    line-height: 20px;
    color: rgb(170, 170, 165);
    font-family: "Malgun Gothic", "맑은 고딕";
    text-decoration: underline;
    margin-top: 30px;
  }
}
