<div class="main__input-description">
      고객센터를 통해 본인확인 정보를 접수해 주시면,
    <br/>
    고객센터 확인 후 임시비밀번호를 발급해 드립니다.
    </div>
<div class="main__input-form">
    <div class="main__input-item">
        <div class="main__input-title">아이디</div>
        <div class="main__input-box">
            <input class="main__input--fulled main__input" placeholder="아이디입력">
        </div>
    </div>
</div>
