<div class="main__input-description">
      아이디 입력 후 본인 명의 휴대폰 인증을 통해 신규 비밀번호를 설정하실 수 있습니다.
    </div>
<div class="main__input-form">
    <div class="main__input-item">
        <div class="main__input-title">아이디</div>
        <div class="main__input-box">
            <input class="main__input--fulled main__input" placeholder="아이디입력">
        </div>
    </div>
</div>
